@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html {
    height: 90%;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: #000 url('Assets/preloader.gif') no-repeat center;
    position: fixed;
    animation: fadeOut 0s 0s forwards;
    animation-duration: 0s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}