* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../Assets/Webbackground.jpeg);
    /* font-family: 'Inter', sans-serif; */
    overflow-x: hidden;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
}
.logo{
    float: left;
    padding: 10px;
    height: auto;
    width: 1px;
}