* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}